*~
*.pyc
/build/
/dist/
*.egg-info/
*.egg
.eggs/
.gitignore
notes.txt
test/tardis_*
test/configure_bioconductor_env.src
test/configure_biopython_env.src
test/tardis*
test/custom.slurm
test/test1.sh
test1.sh
